
/*
*
*  CSS pour donner un peu de design à tout ce trabada !
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #container-form{
  	text-align: center;
  	background-color: #f7f7f7;
  	border-radius: 2px;
  	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  #container-form > h1{
  	font-size: 100%;
  }

  #container-form > img{
    width: 65px;
    height: 65px;
  }

  #container-form #prev{
  	width: 30px;
  	height: 20px;
    float: left;
    margin-top: -13%;
    margin-left: 8%;
  }

  #container-form button{
  	border: 1px solid #2f5bb7;
    color: #fff;
    width: 100%;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  }

  .erreur{
  	width: 80%;
    height: 27px;
    background: #e21e1e;
    position: absolute;
    right: 0;
    top: -20px;
    border-radius: 2px;
    color: #fff;
    transition-duration: 2s;
    padding-top: 4px;
  }

  .erreur:before{
  	content: "";
    position: absolute;
    left: 20px;
    bottom: 0;
    top: 27px;
    border: 6px solid transparent;
    border-top: 17px solid #e21e1e;
  }

  .droite {
    -webkit-animation: slidedroite 1s linear 1;
    animation: slidedroite 1s linear 1;
  }

  .gauche{
    -webkit-animation: slidegauche 1s linear 1;
    animation: slidegauche 1s linear 1;
  }

  .form{
  	width: 200%;
  	height: 190px;
    position: inherit;
  }

  .form form {
  	display: inline-block;
  	margin-left: 0px;
  	transition-duration: 1.5s !important;
  	-webkit-transition: 1.5s !important;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

 main div[class*="container"]{
  	margin-top: 120px;
  }

  footer{
  	background-color: #3498db !important;
  }

  /* CSS effects */

@-webkit-keyframes slidegauche{
	0%{ margin-left: 0%; }
	50%{ margin-left: -25%; }
	100%{ margin-left: -50%; }
}

@keyframes slidegauche{
	0%{ margin-left: 0%;  }
  50%{ margin-left: -25%; }
  100%{ margin-left: -50%; }
}

@-webkit-keyframes slidedroite{
 0%{ margin-left: -50%; }
  50%{ margin-left: -25%; }
  100%{ margin-left: 0%; }
}

@keyframes slidedroite{
 0%{ margin-left: -50%;  }
  50%{ margin-left: -25%; }
  100%{ margin-left: 0%; }
}

