<div class="container" ng-controller="authCtrl as auth">
<!-- Page Content goes here -->
  
  <!-- Partie mot de passe du formulaire -->

 <div class="row">
 	<div class="col l4 m6 s12 offset-l4 offset-m3" id="container-form">
 	<h1> Connectez-vous pour accéder à votre compte. </h1>

 	<img class="circle" ng-src="img/{{auth.pathImg}}" alt="Logo de connéxion">
  <div class="form">
   	<form ng-class="{'col s6': true, 'gauche': auth.right , 'droite': !auth.right && auth.starter == 1, 'transition' : true }">
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" ng-model="username">
            <label for="username">Identifiant</label>
            <span class="erreur" ng-class='{"hide" : !auth.erreurLogin || auth.message == ""}'>
              {{auth.message}}
            </span>
          </div>
          <div class="input-field col s12">
  	      <button class="btn waves-effect waves-light btn-large s12" type="submit" name="action" ng-click="auth.checkIdentifiant($event)">Suivant
  		   	</button>
   		</div>
          </div>
      </form>

      <form ng-class="{'col s6': true , 'transition' : true }" ng-submit="">
      <img src="img/prev.png" id="prev" title="Essayer un autre identifiant" ng-click="auth.slideRight()">
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="text" ng-model="password">
            <label for="password">Mot de passe</label>
            <span class="erreur" ng-class='{"hide" : !auth.erreurPassword || auth.message == ""}'>
              {{auth.message}}
            </span>
          </div>
          <div class="input-field col s12">
          <button class="btn waves-effect waves-light btn-large s12" type="submit" name="action" ng-click="auth.checkPassword($event)">Connéxion
          </button>
      </div>
          </div>
      </form>
    </div>

 	</div>
 </div>
</div>